@model Fhi.Smittestopp.Verification.Server.Home.ErrorViewModel

<h1>Error</h1>
<div>
    Sorry, there was an error

    @if (Model?.Error != null)
    {
        <strong>
            <em>
                : @Model.Error
            </em>
        </strong>

        if (Model?.ErrorDescription != null)
        {
            <div>@Model.ErrorDescription</div>
        }
    }
</div>

@if (Model?.RequestId != null)
{
    <div>Request Id: @Model.RequestId</div>
}
