@model Fhi.Smittestopp.Verification.Server.Account.ViewModels.RedirectViewModel
<div class="redirect-page">
    <img class="logo" alt="FHI logo" src="~/img/logo_fhi_white.png">

    <p>Du sendes nå tilbake til Smittestopp.</p>
    
    <p>Etterpå kan denne fanen lukkes.</p>

    <meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
    <script src="~/js/signin-redirect.js"></script>
</div>