@model string

<h1>User Code</h1>
<p>Please enter the code displayed on your device.</p>

<partial name="_ValidationSummary" />

<form asp-action="UserCodeCapture">
    <div>
        <label for="userCode">User Code:</label>
        <input for="userCode" name="userCode" autofocus />
    </div>

    <button name="button">Submit</button>
</form>
