@model Fhi.Smittestopp.Verification.Server.Account.ViewModels.LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<h1>
    Logout
    <small>You are now logged out</small>
</h1>

@if (Model.PostLogoutRedirectUri != null)
{
    <div>
        Click <a href="@Model.PostLogoutRedirectUri">here</a> to return to the
        <span>@Model.ClientName</span> application.
    </div>
}

@if (Model.SignOutIframeUrl != null)
{
    <iframe width="0" height="0" src="@Model.SignOutIframeUrl"></iframe>
}

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
