@model Fhi.Smittestopp.Verification.Server.Account.ViewModels.LoginViewModel

<h1>Login</h1>
<p>Choose how to login</p>

<partial name="_ValidationSummary" />

@if (Model.EnableLocalLogin)
{
    <div>
        <h2>PIN-code login</h2>
        <form asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl" />

            <div>
                <label asp-for="PinCode"></label>
                <input placeholder="PIN-code" asp-for="PinCode" autofocus>
            </div>
            <button name="button" value="login">Login</button>
        </form>
        <form asp-route="Cancel">
            <input type="hidden" asp-for="ReturnUrl" />
            <button name="button" value="cancel">Cancel</button>
        </form>
    </div>
}

@if (Model.VisibleExternalProviders.Any())
{
    <div>
        <h2>External Account</h2>
        <ul>
            @foreach (var provider in Model.VisibleExternalProviders)
            {
                <li>
                    <a asp-controller="External"
                       asp-action="Challenge"
                       asp-route-scheme="@provider.AuthenticationScheme"
                       asp-route-returnUrl="@Model.ReturnUrl">
                        @provider.DisplayName
                    </a>
                </li>
            }
        </ul>
    </div>
}

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div>
        <strong>Invalid login request</strong>
        There are no login schemes configured for this request.
    </div>
}