<h1>Fhi.Smittestopp.Verification test client</h1>

<div *ngIf="!initialised">
  <div>
    <label>
      <input name="force-login-box" type="checkbox" [(checked)]="forceLoginPrompt" />
      Force login prompt
    </label>
  </div>
  <button (click)="initDefaultMode()">Init (default)</button>
  <button (click)="initDkCompatibleMode()">Init (DK-compatible)</button>
</div>

<div *ngIf="initialised && !loggedIn">
  <button (click)="startLogin()">Login</button>
</div>

<div *ngIf="initialised && loggedIn">

  <h2>ID-token</h2>
  <p>{{idToken}}</p>

  <h2>Access token</h2>
  <p>{{accessToken}}</p>
  <div *ngIf="accessToken">
    <i>Access token payload:</i>
    <pre>{{decodeAccessTokenPayload(accessToken) | json}}</pre>

  </div>

  <h2>Granted scopes</h2>
  <pre>{{grantedScopes|json}}</pre>

  <h2>Identity claims</h2>
  <pre>{{identityClaims|json}}</pre>

  <h2>Anonymous token</h2>
  <pre *ngIf="anonymousTokenResponse">{{anonymousTokenResponse|json}}</pre>
  <pre *ngIf="anonymousTokenError">{{anonymousTokenError|json}}</pre>
  <button (click)="requestAnonymousToken()">Request anonymous token</button>

  <br/><br/>

  <button (click)="startLogout()">Logout</button>

  <button (click)="reset()">Reset view</button>

</div>

<router-outlet></router-outlet>
